<%= form_for @loan, :html => { :class => "form-horizontal loan" } do |f| %>

    <% if @loan.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @loan.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :quote_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :quote_id, Quote.all ,:id ,:quote_name , include_blank:true %>
      </div>

    </div>
    <div class="control-group">
      <%= f.label :down_payment, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :down_payment, :class => 'form-control' %>
      </div>

    </div>
    <div class="control-group">
      <%= f.label :borrowed_amount, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :borrowed_amount, :class => 'form-control' %>
      </div>

    </div>



    <div class="control-group">
      <%= f.label :interest, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :interest, :class => 'form-control' %>
      </div>

    </div>
    <div class="control-group">
      <%= f.label :term, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :term, [['3'],['4'],['5']], include_blank:true %>
      </div>

    </div>
    <div class="control-group">
      <%= f.label :monthly_payment, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :monthly_payment, :class => 'form-control' %>
      </div>

    </div>
    <div class="control-group">
      <%= f.label :Approved, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :loan_status, :class => 'form-control' %>
      </div>

    </div>


    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                loans_path, :class => 'btn btn-default' %>

<% end %>

