<%- model_class = Loan -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>

    <th><%= model_class.human_attribute_name(:quote_id) %></th>
    <th><%= model_class.human_attribute_name(:down_payment) %></th>
    <th><%= model_class.human_attribute_name(:borrow_amount) %></th>
    <th><%= model_class.human_attribute_name(:interest) %></th>
    <th><%= model_class.human_attribute_name(:term) %></th>
    <th><%= model_class.human_attribute_name(:monthly_payment) %></th>
    <th><%= model_class.human_attribute_name(:loan_status) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @loans.each do |loan| %>
      <tr>

        <td><%= loan.quote.quote_name %></td>
        <td><%= number_to_currency(loan.down_payment) %></td>
        <td><%= number_to_currency(loan.borrowed_amount) %></td>
        <td><%= number_to_percentage(loan.interest) %></td>
        <td><%= loan.term %></td>
        <td><%= number_to_currency(loan.monthly_payment) %></td>
        <td><%= loan.status_loan %></td>
        <td><%=l loan.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_loan_path(loan), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      loan_path(loan),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_loan_path,
            :class => 'btn btn-primary' %>