<%- model_class = Loan -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:quote_id) %>:</strong></dt>
  <dd><%= @loan.quote_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:down_payment) %>:</strong></dt>
  <dd><%= @loan.down_payment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:borrowed_amount) %>:</strong></dt>
  <dd><%= @loan.borrowed_amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:interest) %>:</strong></dt>
  <dd><%= @loan.interest %></dd>
  <dt><strong><%= model_class.human_attribute_name(:term) %>:</strong></dt>
  <dd><%= @loan.term %></dd>
  <dt><strong><%= model_class.human_attribute_name(:monthly_payment) %>:</strong></dt>
  <dd><%= @loan.monthly_payment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:loan_status) %>:</strong></dt>
  <dd><%= @loan.loan_status %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            loans_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_loan_path(@loan), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            loan_path(@loan),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
