
<%= form_for @car, :html => { :class => "form-horizontal car" } do |f| %>

    <% if @car.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @car.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :model, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :model, :class => 'form-control' %>
      </div>

    </div>

    <div class="control-group">
      <%= f.label :make, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :make, :class => 'form-control' %>
      </div>

    </div>

    <div class="control-group">
      <%= f.label :year, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :year, [['2000'],['2002'],['2005'],['2010'],['2012'],['2014'],['2015']], :class => 'form-control' %>
      </div>

    </div>

    <div class="control-group">
      <%= f.label :color, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :color, :class => 'form-control' %>
      </div>

    </div>
    <div class="control-group">
      <%= f.label :vin, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :vin, :class => 'form-control' %>
      </div>

    </div>
    <div class="control-group">
      <%= f.label :price, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :price, :class => 'form-control' %>
      </div>

    </div>
    <div class="control-group">
      <%= f.label :sold, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :car_status %>
      </div>

    </div>

    <br>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cars_path, :class => 'btn btn-default' %>

<%end %>