<%- model_class = Car -%>
<div class="page-header">
  <h1><%=t '.Car Inventory Management', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_tag(cars_path, :method => "get", id: "search_car") do %>
    Search by <%= select_tag :search_column, options_for_select( Car.translated_columns_car , params[:search_column]) %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Car " %>
    <%= submit_tag "Search" %>
<% end %>

<br>

<%= will_paginate @cars %>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:model) %></th>
    <th><%= model_class.human_attribute_name(:make) %></th>
    <th><%= model_class.human_attribute_name(:color) %></th>
    <th><%= model_class.human_attribute_name(:year) %></th>
    <th><%= model_class.human_attribute_name(:vin) %></th>
    <th><%= model_class.human_attribute_name(:price) %></th>
    <th><%= model_class.human_attribute_name(:car_status) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @cars.each do |car| %>
      <tr>
        <td><%= link_to car.id, car_path(car) %></td>
        <td><%= car.model %></td>
        <td><%= car.make %></td>
        <td><%= car.color %></td>
        <td><%= car.year %></td>
        <td><%= car.vin %></td>
        <td><%= number_to_currency(car.price) %></td>
        <td><%= car.car_status %></td>
        <td><%=l car.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_car_path(car), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      car_path(car),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_car_path,
            :class => 'btn btn-primary' %>
