<%= form_for @quote, :html => { :class => "form-horizontal quote" } do |f| %>

    <% if @quote.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @quote.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :sale_person_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :sale_person_id, SalePerson.all , :id , :name %>
      </div>

    </div>
    <div class="control-group">
      <%= f.label :customer_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :customer_id, Customer.all ,:id , :name %>
      </div>

    </div>
    <div class="control-group">
      <%= f.label :car_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :car_id , Car.all , :id ,:car_info , include_blank:true %>
      </div>

    </div>


    <div class="control-group">
      <%= f.label :Car_markup_price, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :car_price%>
      </div>

    </div>

    <div class="control-group">
      <%= f.label :sale_tax %>
      <div class="controls">
        <%= f.text_field :sale_tax %>
      </div>

    </div>
    <div class="control-group">
      <%= f.label :total_price %>
      <div class="controls">
        <%= f.text_field :total_price%>
      </div>

    </div>
    <div class="control-group">
      <%= f.label :sold, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :quote_status %>
      </div>

    </div>


    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                quotes_path, :class => 'btn btn-default' %>

<% end %>

