<%- model_class = Quote -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>

    <th><%= model_class.human_attribute_name(:sale_person_id) %></th>
    <th><%= model_class.human_attribute_name(:customer_id) %></th>
    <th><%= model_class.human_attribute_name(:car_id) %></th>
    <th><%= model_class.human_attribute_name(:car_price) %></th>
    <th><%= model_class.human_attribute_name(:sale_tax) %></th>
    <th><%= model_class.human_attribute_name(:total_price) %></th>
    <th><%= model_class.human_attribute_name(:quote_status) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @quotes.each do |quote| %>
      <tr>

        <td><%= quote.sale_person.name%></td>
        <td><%= quote.customer.name %></td>
        <td><%= quote.car.model %></td>
        <td><%= number_to_currency(quote.car.cal_markup) %></td>
        <td><%= number_to_currency(quote.sale_tax) %></td>
        <td><%=number_to_currency(quote.total_price) %></td>
        <td><%= quote.update_status %></td>
        <td><%=l quote.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_quote_path(quote), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      quote_path(quote),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_quote_path,
            :class => 'btn btn-primary' %>

