<%- model_class = Quote -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:sale_person_id) %>:</strong></dt>
  <dd><%= @quote.sale_person.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:customer_id) %>:</strong></dt>
  <dd><%= @quote.customer.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:car_id) %>:</strong></dt>
  <dd><%= @quote.car.model %></dd>
  <dt><strong><%= model_class.human_attribute_name(:car_price) %>:</strong></dt>
  <dd><%= number_to_currency@quote.car.cal_markup %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sale_tax) %>:</strong></dt>
  <dd><%= number_to_percentage(@quote.sale_tax) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_price) %>:</strong></dt>
  <dd><%= @quote.final_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quote_status) %>:</strong></dt>
  <dd><%= @quote.update_status %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            quotes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_quote_path(@quote), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            quote_path(@quote),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
