<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "The Car Shop" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%= javascript_include_tag "application.js" %>
</head>

<!---------Navigation Bar---->

<body>
<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Car Shop Management System
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Homepage", controller: "homepages", action: "index" %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                SalesPerson
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Customer Search", controller: "customers", action: "index" %></li>
                <li><%= link_to "Car Search", controller: "cars", action: "index" %></li>
                <li><%= link_to "Create Quote", controller: "quotes", action: "new" %></li>
                <li><%= link_to "Locate Quotes by Sales rep", controller: "salesman_quotes", action: "index" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Finances
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Create a Loan", controller: "loans", action: "new" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Stock
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Car Stock", controller: "car_stocks", action: "index" %></li>
              </ul>
            </li>
            <li class="dropdown pull-right">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Owner Mode
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Finance Wrap-up", controller: "finance_reports", action: "index" %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">

        <%= yield %>
      </div>
      <div class="col-lg-3">

      </div><!--/span-->
    </div><!--/row-->

    <footer>
      <p>&copy; The Car Shop</p>
    </footer>

  </div> <!-- /container -->
</div>

</body>
</html>