<%- model_class = FinanceReport -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:Total_gross) %></th>
    <th><%= model_class.human_attribute_name(:Net_Profit) %></th>
    <th><%= model_class.human_attribute_name(:Total_sale_tax) %></th>


  </tr>
  </thead>
  <tbody>

  <td><%= number_to_currency(Quote.where('quote_status = ?',true).sum(:total_price)) %></td>
  <td><%= number_to_currency(Quote.where('quote_status = ?',true).sum(:total_price) - Quote.joins(:car).where('quote_status = ?',true).sum(:price) ) %></td>
  <td><%= number_to_currency(Quote.where('quote_status = ?',true).sum(:sale_tax)) %></td>

  <td>

  </td>

  </tbody>
</table>
