<%= form_for @sale_person, :html => { :class => "form-horizontal sale_person" } do |f| %>

    <% if @sale_person.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@sale_person.errors.count, "error") %> prohibited this sale_person from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @sale_person.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>


    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sale_people_path, :class => 'btn btn-default' %>

<% end %>
